<form (ngSubmit)="handleSubmit()" [formGroup]="userForm" s>
  <div>
    <label>Email: </label>
    <input formControlName="email">
  </div>
  <div>
    <label>Password: </label>
    <input type="password" formControlName="password">
    <div *ngIf="emailCtrl.dirty && emailCtrl.hasError('email')">
      Le champ email n'est pas valide
    </div>
    <div *ngIf="emailCtrl.dirty && emailCtrl.hasError('required')">
      Le champ email est requis
    </div>
  </div>
  <button type="submit">Login</button>
  <button type="reset" (click)="handleClear()">Clear</button>
</form>
